  /*
    Flaticon icon font: Flaticon
    Creation date: 07/09/2022 00:19
*/

@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
            url("../fonts/flaticon.woff") format("woff"),
            url("../fonts/flaticon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
    
    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-stats:before {
    content: "\f101";
}
.flaticon-portfolio:before {
    content: "\f102";
}
.flaticon-profit:before {
    content: "\f103";
}
.flaticon-start-up:before {
    content: "\f104";
}
.flaticon-handshake:before {
    content: "\f105";
}
.flaticon-pie-chart:before {
    content: "\f106";
}
.flaticon-growth:before {
    content: "\f107";
}
.flaticon-market:before {
    content: "\f108";
}
.flaticon-network:before {
    content: "\f109";
}
.flaticon-iteration:before {
    content: "\f10a";
}
.flaticon-help:before {
    content: "\f10b";
}
.flaticon-business-plan:before {
    content: "\f10c";
}
.flaticon-meeting:before {
    content: "\f10d";
}
.flaticon-mission:before {
    content: "\f10e";
}
.flaticon-money:before {
    content: "\f10f";
}
.flaticon-report:before {
    content: "\f110";
}
.flaticon-business-strategy:before {
    content: "\f111";
}
.flaticon-loan:before {
    content: "\f112";
}
.flaticon-stats-1:before {
    content: "\f113";
}
.flaticon-bill:before {
    content: "\f114";
}
.flaticon-whatsapp:before {
    content: "\f115";
}
.flaticon-development:before {
    content: "\f116";
}
.flaticon-presentation:before {
    content: "\f117";
}
.flaticon-analysis-1:before {
    content: "\f118";
}
.flaticon-round-table:before {
    content: "\f119";
}
.flaticon-vision:before {
    content: "\f11a";
}
.flaticon-analyst:before {
    content: "\f11b";
}
.flaticon-list:before {
    content: "\f11c";
}
.flaticon-objective:before {
    content: "\f11d";
}
.flaticon-international:before {
    content: "\f11e";
}
.flaticon-value:before {
    content: "\f11f";
}
.flaticon-accounts:before {
    content: "\f120";
}
.flaticon-solution:before {
    content: "\f121";
}
.flaticon-solution-1:before {
    content: "\f122";
}
.flaticon-finance:before {
    content: "\f123";
}
.flaticon-solution-2:before {
    content: "\f124";
}
.flaticon-solution-3:before {
    content: "\f125";
}
.flaticon-marketing-strategy:before {
    content: "\f126";
}
.flaticon-business-trip:before {
    content: "\f127";
}
.flaticon-consulting:before {
    content: "\f128";
}
.flaticon-world-globe:before {
    content: "\f129";
}
.flaticon-case-study:before {
    content: "\f12a";
}
.flaticon-group:before {
    content: "\f12b";
}
.flaticon-personal:before {
    content: "\f12c";
}
.flaticon-online-store:before {
    content: "\f12d";
}
.flaticon-planning:before {
    content: "\f12e";
}
.flaticon-technology:before {
    content: "\f12f";
}
.flaticon-encrypted:before {
    content: "\f130";
}
.flaticon-smartphone:before {
    content: "\f131";
}
.flaticon-money-1:before {
    content: "\f132";
}
.flaticon-idea:before {
    content: "\f133";
}
.flaticon-insurance:before {
    content: "\f134";
}
.flaticon-market-1:before {
    content: "\f135";
}
.flaticon-delivery-van:before {
    content: "\f136";
}
.flaticon-clock:before {
    content: "\f137";
}
.flaticon-partnership-handshake:before {
    content: "\f138";
}
.flaticon-laptop:before {
    content: "\f139";
}
.flaticon-startup:before {
    content: "\f13a";
}
.flaticon-sustainable:before {
    content: "\f13b";
}
.flaticon-market-2:before {
    content: "\f13c";
}
.flaticon-refresh:before {
    content: "\f13d";
}
.flaticon-partnership:before {
    content: "\f13e";
}
.flaticon-data-analysis:before {
    content: "\f13f";
}
.flaticon-creativity:before {
    content: "\f140";
}
.flaticon-coding:before {
    content: "\f141";
}
.flaticon-money-bag:before {
    content: "\f142";
}
.flaticon-finance-1:before {
    content: "\f143";
}
.flaticon-marketing:before {
    content: "\f144";
}
.flaticon-money-stack:before {
    content: "\f145";
}
.flaticon-puzzle-piece:before {
    content: "\f146";
}
.flaticon-support:before {
    content: "\f147";
}
.flaticon-startup-1:before {
    content: "\f148";
}
.flaticon-videocall:before {
    content: "\f149";
}
.flaticon-credit-cards:before {
    content: "\f14a";
}
.flaticon-investment:before {
    content: "\f14b";
}
.flaticon-strategy:before {
    content: "\f14c";
}
.flaticon-deal:before {
    content: "\f14d";
}
.flaticon-business-report:before {
    content: "\f14e";
}
.flaticon-order-food:before {
    content: "\f14f";
}
.flaticon-idea-1:before {
    content: "\f150";
}
.flaticon-mobile-phone:before {
    content: "\f151";
}
.flaticon-benefit:before {
    content: "\f152";
}
.flaticon-consult:before {
    content: "\f153";
}
.flaticon-debit-card:before {
    content: "\f154";
}
.flaticon-growth-1:before {
    content: "\f155";
}
.flaticon-refresh-1:before {
    content: "\f156";
}
.flaticon-progress:before {
    content: "\f157";
}
.flaticon-pricing:before {
    content: "\f158";
}
.flaticon-organization:before {
    content: "\f159";
}
.flaticon-businessman:before {
    content: "\f15a";
}
.flaticon-advice:before {
    content: "\f15b";
}
.flaticon-business-idea:before {
    content: "\f15c";
}
.flaticon-data-analysis-1:before {
    content: "\f15d";
}
.flaticon-essential:before {
    content: "\f15e";
}
.flaticon-working:before {
    content: "\f15f";
}
.flaticon-money-bag-1:before {
    content: "\f160";
}
.flaticon-communication:before {
    content: "\f161";
}
.flaticon-wallet:before {
    content: "\f162";
}
.flaticon-meeting-1:before {
    content: "\f163";
}
.flaticon-megaphone:before {
    content: "\f164";
}
.flaticon-finance-2:before {
    content: "\f165";
}
.flaticon-paper-plane:before {
    content: "\f166";
}
.flaticon-quality:before {
    content: "\f167";
}
.flaticon-science-research:before {
    content: "\f168";
}
.flaticon-process:before {
    content: "\f169";
}
.flaticon-bar-chart:before {
    content: "\f16a";
}
.flaticon-content-management:before {
    content: "\f16b";
}
.flaticon-presentation-1:before {
    content: "\f16c";
}
.flaticon-startup-2:before {
    content: "\f16d";
}
.flaticon-project:before {
    content: "\f16e";
}
.flaticon-data:before {
    content: "\f16f";
}
.flaticon-career:before {
    content: "\f170";
}
.flaticon-team:before {
    content: "\f171";
}
.flaticon-fund:before {
    content: "\f172";
}
.flaticon-social-engagement:before {
    content: "\f173";
}
.flaticon-online-payment:before {
    content: "\f174";
}
.flaticon-investment-1:before {
    content: "\f175";
}
.flaticon-clipboard:before {
    content: "\f176";
}
.flaticon-offer:before {
    content: "\f177";
}
.flaticon-price-tag:before {
    content: "\f178";
}
.flaticon-employee:before {
    content: "\f179";
}
.flaticon-messages:before {
    content: "\f17a";
}
.flaticon-solution-4:before {
    content: "\f17b";
}
.flaticon-online-support:before {
    content: "\f17c";
}
.flaticon-analysis-2:before {
    content: "\f17d";
}
.flaticon-stationery:before {
    content: "\f17e";
}
.flaticon-bulb:before {
    content: "\f17f";
}
.flaticon-order:before {
    content: "\f180";
}
.flaticon-monitoring:before {
    content: "\f181";
}
.flaticon-consultant:before {
    content: "\f182";
}
.flaticon-money-bag-2:before {
    content: "\f183";
}
.flaticon-global:before {
    content: "\f184";
}
.flaticon-residential:before {
    content: "\f185";
}
.flaticon-report-1:before {
    content: "\f186";
}
.flaticon-learning:before {
    content: "\f187";
}
.flaticon-business:before {
    content: "\f188";
}
.flaticon-chart:before {
    content: "\f189";
}
.flaticon-money-2:before {
    content: "\f18a";
}
.flaticon-engagement:before {
    content: "\f18b";
}
.flaticon-seo-report:before {
    content: "\f18c";
}
.flaticon-business-presentation:before {
    content: "\f18d";
}
.flaticon-information:before {
    content: "\f18e";
}
.flaticon-content:before {
    content: "\f18f";
}
.flaticon-development-1:before {
    content: "\f190";
}
.flaticon-consultation:before {
    content: "\f191";
}
.flaticon-pie-chart-1:before {
    content: "\f192";
}
.flaticon-operation:before {
    content: "\f193";
}
.flaticon-business-trip-1:before {
    content: "\f194";
}
.flaticon-research:before {
    content: "\f195";
}
.flaticon-capital:before {
    content: "\f196";
}
.flaticon-innovation:before {
    content: "\f197";
}
.flaticon-conversation:before {
    content: "\f198";
}
.flaticon-interview:before {
    content: "\f199";
}
.flaticon-solution-5:before {
    content: "\f19a";
}
.flaticon-partner:before {
    content: "\f19b";
}
.flaticon-report-2:before {
    content: "\f19c";
}
.flaticon-salary:before {
    content: "\f19d";
}
.flaticon-money-3:before {
    content: "\f19e";
}
.flaticon-speech-bubble:before {
    content: "\f19f";
}
.flaticon-conversation-1:before {
    content: "\f1a0";
}
.flaticon-solution-6:before {
    content: "\f1a1";
}
.flaticon-files-and-folders:before {
    content: "\f1a2";
}
.flaticon-online-business:before {
    content: "\f1a3";
}
.flaticon-agreement:before {
    content: "\f1a4";
}
.flaticon-motivation:before {
    content: "\f1a5";
}
.flaticon-smartphone-1:before {
    content: "\f1a6";
}
.flaticon-license:before {
    content: "\f1a7";
}
.flaticon-budget:before {
    content: "\f1a8";
}
.flaticon-presenter:before {
    content: "\f1a9";
}
.flaticon-skills:before {
    content: "\f1aa";
}
.flaticon-video-conference:before {
    content: "\f1ab";
}
.flaticon-price-tag-1:before {
    content: "\f1ac";
}
.flaticon-employee-1:before {
    content: "\f1ad";
}
.flaticon-employee-2:before {
    content: "\f1ae";
}
.flaticon-employee-3:before {
    content: "\f1af";
}
.flaticon-employee-4:before {
    content: "\f1b0";
}
.flaticon-employee-5:before {
    content: "\f1b1";
}
.flaticon-budget-1:before {
    content: "\f1b2";
}
.flaticon-investment-2:before {
    content: "\f1b3";
}
.flaticon-funds:before {
    content: "\f1b4";
}
.flaticon-investment-3:before {
    content: "\f1b5";
}
.flaticon-piggy-bank:before {
    content: "\f1b6";
}
.flaticon-save-money:before {
    content: "\f1b7";
}
.flaticon-money-saving:before {
    content: "\f1b8";
}
.flaticon-wallet-1:before {
    content: "\f1b9";
}
.flaticon-green-energy:before {
    content: "\f1ba";
}
.flaticon-right-arrow-angle:before {
    content: "\f1bb";
}
.flaticon-down:before {
    content: "\f1bc";
}
.flaticon-up-arrow:before {
    content: "\f1bd";
}
.flaticon-arrow:before {
    content: "\f1be";
}
.flaticon-up:before {
    content: "\f1bf";
}
.flaticon-up-arrow-1:before {
    content: "\f1c0";
}
.flaticon-arrow-up:before {
    content: "\f1c1";
}
.flaticon-right-arrow:before {
    content: "\f1c2";
}
.flaticon-next:before {
    content: "\f1c3";
}
.flaticon-right-arrow-1:before {
    content: "\f1c4";
}
.flaticon-down-arrow:before {
    content: "\f1c5";
}
.flaticon-curve-arrow:before {
    content: "\f1c6";
}
.flaticon-checked:before {
    content: "\f1c7";
}
.flaticon-check:before {
    content: "\f1c8";
}
.flaticon-checked-1:before {
    content: "\f1c9";
}
.flaticon-seen:before {
    content: "\f1ca";
}
.flaticon-seen-1:before {
    content: "\f1cb";
}
.flaticon-medal:before {
    content: "\f1cc";
}
.flaticon-puzzle:before {
    content: "\f1cd";
}
.flaticon-quotation:before {
    content: "\f1ce";
}
.flaticon-quote:before {
    content: "\f1cf";
}
