/* styles.css */
.login-button {
  background-color: #007bff;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 4px;
  width: 100px;

  font-weight: bold;

  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
